
<main class="mdl-layout__content">
    <div class="page-content">


<% if @content.errors.any? %>
	<div class="row">
		<div class="alert alert-danger col-md-8 col-md-offset-2">
			<h5>plz correct the following errors:</h5>
			<ul>
				<% @content.errors.full_messages.each do |msg| %>
				<li><%=msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<%= form_for(@content, html: { multipart: true }) do |f| %>

<div class="mdl-layout mdl-js-layout mdl-color--grey-100 formcr">
	<main class="mdl-layout__content formcrw">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h2 class="mdl-card__title-text">Create Something..</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield">


		<%= f.label :name,class: "mdl-textfield__label", for:"name"  %>
		<%= f.text_field :name, class: "mdl-textfield__input", type:"text" ,id:"name" %>
		</div>
		<div class="mdl-textfield mdl-js-textfield">

		<%= f.label :summary , class: "mdl-textfield__label", for:"summary" %>
		<%= f.text_field :summary, class: "mdl-textfield__input", type:"text" ,id:"summary" %>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
		<%= f.label :description, class: "mdl-textfield__label", for:"description" %>
		<%= f.text_area :description, rows: 7, class: "mdl-textfield__input", type:"text" ,id:"description" %>
		</div>
			
<div class="mdl-textfield mdl-js-textfield mdl-textfield--file">

		<input class="mdl-textfield__input" placeholder="Upload An Image" type="text" id="uploadFile" readonly/>

			<div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file ">
      			<i class="material-icons">add_a_photo</i>
      				<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', id: "uploadBtn" %>

			</div>
</div>




		<div class="mdl-card__actions mdl-card--border">

		<%= f.submit 'create Post', class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
		</div>
		</div>
	</main>
</div>
				<% end %>
				</div>
		</main>

<script type="text/javascript">
		document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.files[0].name;
};



		$('#content_picture').blind('change', function(){
			size_in_megabytes = this.files[0].size/1024/1024;
			if(size_in_megabytes > 5){
				alert('max file size is 5mb');
			}
		});
		</script>


