<main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->
  
<h1 class="textcenter"> <b>Hey <%= @user.username %></b></h1>
<div class="mdl-color--grey-100">
<%= will_paginate @contents %>


<br />


			<div class="mdl-grid">

			  		<div class="mdl-cell mdl-cell--3-col fix">

<div class="cardshowus">

<%=  image_tag @user.profilepic.url(:display),class: "cnimg" if @user.profilepic?   %>
  
  </div>
  <h3 class="textcenter"><%= @user.email %></h3>
  <% if user_signed_in? and @user == current_user %>
  

    								<%= link_to "Edit Profile",  edit_user_registration_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    								
    								<% end %>
  </div>
<br />
<div class="mdl-cell mdl-cell--2-col">
</div>
<div class="mdl-cell mdl-cell--6-col">
<% @contents.each do |content| %>

<div class="cardshowus">
			 				
			 					<%= image_tag content.picture.url(:display),class: "cnimg" if content.picture? %>

					         		<div class="container1">
					         		
					         		<%= link_to like_content_path(content, like: true), method: :post do %>

					          		<i class="material-icons" style="font-size:50px;color:#AA030B;">favorite</i>
					          	
					          		<% end %>
					          		&nbsp&nbsp
					          		<span class="mdl-badge"  data-badge="<%= content.totallike %>" >Total Likes</span>
					         		<hr/>
					          		<h2> <%= content.summary %></h2>
					          		
					           		<p>
									<strong>Stepes:</strong>
									<%= simple_format(content.description) %>
						      		</p>
						      		<% if user_signed_in? and @user == current_user %>

    								<%= link_to "Edit This", edit_content_path(content), class: "mdl-button mdl-js-button mdl-button--primary" %>
    								<% end %>
					  				</div>
						</div>
						<br />
						<br />
<% end %>
</div>

  </div>
  <%= will_paginate @contents %>
  </div>
  </main>